/* Google Font for Cineverse title */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kaushan-script-regular {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
}

.fullscreen-bg {
  background-image: url("/public/body_bg.jpg"); /* Reference image from the public folder */
  background-size: cover; /* Cover the whole screen */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent background from repeating */
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  overflow-y: scroll; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.fullscreen-container {
  /* height: 100vh; Full viewport height */
  width: 100vw; /* Full viewport width */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Horizontal alignment */
  justify-content: center; /* Vertical alignment */
  background-color: #000; /* Optional background color */
  box-sizing: border-box; /* Include padding/border in width/height */
}

.content-container {
  flex: 1; /* Allows the content to take up all available space */
  overflow-y: auto; /* Enables scrolling for the content only */
}
